.contentForm {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 58px;
}

.btnEnviar {
    @apply py-3 px-8 text-white;
    background: #2c4491 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #5a5757;
    border-radius: 13px;
    opacity: 1;
}

.btnPreView {
    @apply py-3 px-8 text-white;
    background: #39a9dd 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #5a5757;
    border-radius: 13px;
    opacity: 1;
}
